
*:focus {
  outline: 0 !important;
}

@media only screen and (min-width: 64.0625em) {
  .l-rpadding {
    padding-right: .9375rem!important;
  }
}

.sl-content {
  box-shadow: 0 0 4px 0 rgba(128,128,128,.5);
  padding: 1.875rem 0;
  background-color: #F2F2F2;
  border-radius: 0 0 .25rem .25rem;
  height: 100%;
  margin: 0;
  text-shadow: none;
  color: #000;
}

.sl-input-form {
  padding: 1rem 2rem!important;
}

.sl-input-error {
  color: #D16F6F;
  font-size: .75rem;
  font-style: italic;
}

.sl-login-agree-to-terms {
  color: grey;
}
.sl-login-agree-to-terms a, .sl-login-agree-to-terms a:active, .sl-login-agree-to-terms a:visited  {
  color:#10CCC2 !important;
  font-weight: bold;
}

button.disabled, button[disabled], .button.disabled, .button[disabled],
button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus {
  background-color: #10CCC2;
}

button.success:hover, button.success:focus, .button.success:hover, .button.success:focus,
button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success,
button.disabled.success:hover,
button.disabled.success:focus,
button[disabled].success:hover,
button[disabled].success:focus,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success:hover,
.button[disabled].success:focus {
  background-color: #10CCC2;
}

.sl-button.success {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 .3125rem;
  padding: .6875rem 1.375rem .75rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s ease-out;
  cursor: pointer;
  background-color: #10CCC2;
  border-radius: 1000px;
}

.sl-button.success.expand {
  padding-left: .6875rem;
  padding-right: .6875rem;
  width: 100%;
}



