{
  "extends": [
    "eslint:recommended",
    "google",
    "strict/es6",
    "strict/browser"
  ],
  "plugins": [
    "angular"
  ],
  "globals": {
    "angular": true
  },
  "rules": {
    // Rules we don't need
    "no-var": 0,
    "require-jsdoc": 0,
    "valid-jsdoc": 0,
    "func-names": 0,
    "id-blacklist": 0,
    "prefer-rest-params": 0,
    "global-require": 0,
    "padded-blocks": 0,
    "no-inline-comments": 0,
    "no-undefined": 0,
    "no-warning-comments": 0,
    "no-invalid-this": 0,
    "no-multi-assign": 0,
    "prefer-spread": 0,
    "no-undef-init": 0,
    "no-throw-literal": 0,
    "no-trailing-spaces": 0,
    // Modified rules
    "linebreak-style": 0,
    "id-length": [
      "error",
      {
        "min": 2,
        "max": 64,
        "exceptions": [
          "_",
          "$",
          "i",
          "e"
        ]
      }
    ],
    "max-params": [
      "error",
      50
    ],
    "max-statements": [
      "error",
      100
    ],
    "max-len": [
      "error",
      120
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "id-match": [
      "error",
      "^[0-9$a-zA-Z_]+([0-9A-Z_][0-9a-z_]+)*$"
    ],
    "consistent-this": [
      "error",
      "self",
      "vm",
      "modalVm"
    ],
    "no-console": 0,
    "no-debugger": 0,
    "capitalized-comments": [
      "error",
      "always",
      {
        "line": {
          "ignorePattern": "pragma|ignored",
          "ignoreInlineComments": true,
          "ignoreConsecutiveComments": true
        },
        "block": {
          "ignorePattern": "ignored",
          "ignoreInlineComments": true,
          "ignoreConsecutiveComments": true
        }
      }
    ],
    "no-magic-numbers": [
      "error",
      {
        "ignore": [
          0,
          -1,
          1
        ]
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "MemberExpression": 1,
        "ArrayExpression": 1
      }
    ]
  }
}
