coverage/
node_modules/
npm-debug.log
.vscode/
.errorShots/
.idea/
test-configs/*
!test-configs/default.json
tmp/
translations.json
examples/config.json
dist/
lib/
src/**/*.d.ts
examples/tmp/
doc/
.awcache
