#seaters-overlay {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(30, 30, 30, 0.3);
    font-size: 16px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#seaters-modal {
    margin-left: auto 50%;
    margin-right: auto 50%;
    min-height: 200px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #888888;
    width: 320px;
    box-sizing: border-box;
    padding: 48px 10px 14px 10px;
    position:relative;
}

.strs-modal-close {
    height: 14px;
    width: 14px;
    position: absolute;
    top:20px;
    left:286px;
    box-sizing: border-box;
    line-height: 20px;
    display: inline-block;

    &:before, &:after {
      transform: rotate(-45deg);
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -5px;
      margin-left: -25px;
      display: block;
      height: 2px;
      width: 16px;
      background-color: #30323b;
      opacity: 0.5;
      transition: all 0.2s ease-out;
    }

    &:after {
      transform: rotate(45deg);
    }
}
.strs-modal-close:hover {
    cursor: pointer;

    &:before, &:after {
      opacity: 1;
    }
}

a.strs-powered-button {
  display:block;
  width: 164px;
  height: 24px;
  margin: 48px auto;
  margin-bottom: 0;
  border: 0;
  background-image: url("/assets/join-wl/images/powered-by-seaters.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.35;
}
a.strs-powered-button:hover {
  opacity: 1;
}

