.strs-joinwl-btn {
    display: inline-block;
    background-repeat: no-repeat;
    background-color: #fff !important;
    width: 256px;
    height: 48px;
    border: 0;
}

.strs-joinwl-btn-dark {
    background-image: url("/assets/join-wl/images/btn-dark.png");
}
.strs-joinwl-btn-dark:active {
    background-image: url("/assets/join-wl/images/btn-dark-active.png");
}

.strs-joinwl-btn-teal {
    background-image: url("/assets/join-wl/images/btn-teal.png");
}

.strs-joinwl-btn-teal:active {
    background-image: url("/assets/join-wl/images/btn-teal-active.png");
}

.strs-joinwl-btn-white:active {
    background-image: url("/assets/join-wl/images/btn-white.png");
}

.strs-joinwl-btn-white {
    background-image: url("/assets/join-wl/images/btn-white-active.png");
}

.strs-joinwl-btn-navy {
    background-image: url("/assets/join-wl/images/btn-navy.png");
}

.strs-joinwl-btn-navy:active {
    background-image: url("/assets/join-wl/images/btn-navy-active.png");
}
