<div class="content">
    <h3>Seaters SDK Examples</h3>

    <div class="row">
        <div class="col-md-3">
            <div ng-repeat="category in app.categories">
                <h4>{{category.name}}</h4>
                <ul>
                    <li ng-repeat="demo in category.demos">
                        <a ui-sref="app.demo({slug:demo.slug})">{{demo.name}}</a>
                    </li>
                </ul>
                <hr />
            </div>

            <h4>Diagrams</h4>
            <ul>
                <li ng-repeat="diagram in app.diagrams">
                    <a ui-sref="app.diagram({slug:diagram.slug})">{{diagram.name}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <ui-view></ui-view>
        </div>
    </div>
</div>