@import url('https://fonts.googleapis.com/css?family=Roboto');


.strs-left {
  float: left !important; }

.strs-right {
  float: right !important; }

.strs-clearfix:before, .strs-clearfix:after {
  content: " ";
  display: table; }
.strs-clearfix:after {
  clear: both;
}

/* Row and columns */
.strs-row {
  margin: 0 auto;
  max-width: 62.5em;
  width: 100%; }
.strs-row:before, .strs-row:after {
  content: " ";
  display: table; }
.strs-row:after {
  clear: both; }
.strs-row.collapse > .strs-column,
.strs-row.collapse > .strs-columns {
  padding-left: 0;
  padding-right: 0; }
.strs-row.collapse .strs-row {
  margin-left: 0;
  margin-right: 0; }
.strs-row .strs-row {
  margin: 0 -0.9375em;
  max-width: none;
  width: auto; }
.strs-row .strs-row:before, .strs-row .strs-row:after {
  content: " ";
  display: table; }
.strs-row .strs-row:after {
  clear: both; }
.strs-row .strs-row.collapse {
  margin: 0;
  max-width: none;
  width: auto; }
.strs-row .strs-row.collapse:before, .strs-row .strs-row.collapse:after {
  content: " ";
  display: table; }
.strs-row .strs-row.collapse:after {
  clear: both; }

.strs-column,
.strs-columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.strs-column + .strs-column:last-child,
.strs-columns + .strs-column:last-child, .strs-column +
.strs-columns:last-child,
.strs-columns +
.strs-columns:last-child {
  float: right; }
.strs-column + .strs-column.end,
.strs-columns + .strs-column.end, .strs-column +
.strs-columns.end,
.strs-columns +
.strs-columns.end {
  float: left; }

/* column sizes */
@media only screen {
  .strs-small-push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .strs-small-pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .strs-small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .strs-small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .strs-small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .strs-small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .strs-small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .strs-small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .strs-small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .strs-small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .strs-small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .strs-small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .strs-small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .strs-small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .strs-small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .strs-small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .strs-small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .strs-small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .strs-small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .strs-small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .strs-small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .strs-small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .strs-small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .strs-small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .strs-column,
  .strs-columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .strs-small-1 {
    width: 8.33333%; }

  .strs-small-2 {
    width: 16.66667%; }

  .strs-small-3 {
    width: 25%; }

  .strs-small-4 {
    width: 33.33333%; }

  .strs-small-5 {
    width: 41.66667%; }

  .strs-small-6 {
    width: 50%; }

  .strs-small-7 {
    width: 58.33333%; }

  .strs-small-8 {
    width: 66.66667%; }

  .strs-small-9 {
    width: 75%; }

  .strs-small-10 {
    width: 83.33333%; }

  .strs-small-11 {
    width: 91.66667%; }

  .strs-small-12 {
    width: 100%; }

  .strs-small-offset-0 {
    margin-left: 0 !important; }

  .strs-small-offset-1 {
    margin-left: 8.33333% !important; }

  .strs-small-offset-2 {
    margin-left: 16.66667% !important; }

  .strs-small-offset-3 {
    margin-left: 25% !important; }

  .strs-small-offset-4 {
    margin-left: 33.33333% !important; }

  .strs-small-offset-5 {
    margin-left: 41.66667% !important; }

  .strs-small-offset-6 {
    margin-left: 50% !important; }

  .strs-small-offset-7 {
    margin-left: 58.33333% !important; }

  .strs-small-offset-8 {
    margin-left: 66.66667% !important; }

  .strs-small-offset-9 {
    margin-left: 75% !important; }

  .strs-small-offset-10 {
    margin-left: 83.33333% !important; }

  .strs-small-offset-11 {
    margin-left: 91.66667% !important; }

  .strs-small-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }

  .strs-column.strs-small-centered,
  .strs-columns.strs-small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .strs-column.strs-small-uncentered,
  .strs-columns.strs-small-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }

  .strs-column.strs-small-centered:last-child,
  .strs-columns.strs-small-centered:last-child {
    float: none; }

  .strs-column.strs-small-uncentered:last-child,
  .strs-columns.strs-small-uncentered:last-child {
    float: left; }

  .strs-column.strs-small-uncentered.opposite,
  .strs-columns.strs-small-uncentered.opposite {
    float: right; }

  .strs-row.strs-small-collapse > .strs-column,
  .strs-row.strs-small-collapse > .strs-columns {
    padding-left: 0;
    padding-right: 0; }
  .strs-row.strs-small-collapse .strs-row {
    margin-left: 0;
    margin-right: 0; }
  .strs-row.strs-small-uncollapse > .strs-column,
  .strs-row.strs-small-uncollapse > .strs-columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; } }
@media only screen and (min-width: 40.0625em) {
  .strs-medium-push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .strs-medium-pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .strs-medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .strs-medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .strs-medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .strs-medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .strs-medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .strs-medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .strs-medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .strs-medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .strs-medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .strs-medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .strs-medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .strs-medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .strs-medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .strs-medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .strs-medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .strs-medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .strs-medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .strs-medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .strs-medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .strs-medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .strs-medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .strs-medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .strs-column,
  .strs-columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .strs-medium-1 {
    width: 8.33333%; }

  .strs-medium-2 {
    width: 16.66667%; }

  .strs-medium-3 {
    width: 25%; }

  .strs-medium-4 {
    width: 33.33333%; }

  .strs-medium-5 {
    width: 41.66667%; }

  .strs-medium-6 {
    width: 50%; }

  .strs-medium-7 {
    width: 58.33333%; }

  .strs-medium-8 {
    width: 66.66667%; }

  .strs-medium-9 {
    width: 75%; }

  .strs-medium-10 {
    width: 83.33333%; }

  .strs-medium-11 {
    width: 91.66667%; }

  .strs-medium-12 {
    width: 100%; }

  .strs-medium-offset-0 {
    margin-left: 0 !important; }

  .strs-medium-offset-1 {
    margin-left: 8.33333% !important; }

  .strs-medium-offset-2 {
    margin-left: 16.66667% !important; }

  .strs-medium-offset-3 {
    margin-left: 25% !important; }

  .strs-medium-offset-4 {
    margin-left: 33.33333% !important; }

  .strs-medium-offset-5 {
    margin-left: 41.66667% !important; }

  .strs-medium-offset-6 {
    margin-left: 50% !important; }

  .strs-medium-offset-7 {
    margin-left: 58.33333% !important; }

  .strs-medium-offset-8 {
    margin-left: 66.66667% !important; }

  .strs-medium-offset-9 {
    margin-left: 75% !important; }

  .strs-medium-offset-10 {
    margin-left: 83.33333% !important; }

  .strs-medium-offset-11 {
    margin-left: 91.66667% !important; }

  .strs-medium-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }

  .strs-column.strs-medium-centered,
  .strs-columns.strs-medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .strs-column.strs-medium-uncentered,
  .strs-columns.strs-medium-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }

  .strs-column.strs-medium-centered:last-child,
  .strs-columns.strs-medium-centered:last-child {
    float: none; }

  .strs-column.strs-medium-uncentered:last-child,
  .strs-columns.strs-medium-uncentered:last-child {
    float: left; }

  .strs-column.strs-medium-uncentered.opposite,
  .strs-columns.strs-medium-uncentered.opposite {
    float: right; }

  .strs-row.strs-medium-collapse > .strs-column,
  .strs-row.strs-medium-collapse > .strs-columns {
    padding-left: 0;
    padding-right: 0; }
  .strs-row.strs-medium-collapse .strs-row {
    margin-left: 0;
    margin-right: 0; }
  .strs-row.strs-medium-uncollapse > .strs-column,
  .strs-row.strs-medium-uncollapse > .strs-columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .strs-push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .strs-pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .strs-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .strs-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .strs-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .strs-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .strs-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .strs-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .strs-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .strs-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .strs-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .strs-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .strs-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .strs-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .strs-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .strs-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .strs-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .strs-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .strs-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .strs-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .strs-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .strs-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .strs-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .strs-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
@media only screen and (min-width: 64.0625em) {
  .strs-large-push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .strs-large-pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .strs-large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .strs-large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .strs-large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .strs-large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .strs-large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .strs-large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .strs-large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .strs-large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .strs-large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .strs-large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .strs-large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .strs-large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .strs-large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .strs-large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .strs-large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .strs-large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .strs-large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .strs-large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .strs-large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .strs-large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .strs-large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .strs-large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .strs-column,
  .strs-columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .strs-large-1 {
    width: 8.33333%; }

  .strs-large-2 {
    width: 16.66667%; }

  .strs-large-3 {
    width: 25%; }

  .strs-large-4 {
    width: 33.33333%; }

  .strs-large-5 {
    width: 41.66667%; }

  .strs-large-6 {
    width: 50%; }

  .strs-large-7 {
    width: 58.33333%; }

  .strs-large-8 {
    width: 66.66667%; }

  .strs-large-9 {
    width: 75%; }

  .strs-large-10 {
    width: 83.33333%; }

  .strs-large-11 {
    width: 91.66667%; }

  .strs-large-12 {
    width: 100%; }

  .strs-large-offset-0 {
    margin-left: 0 !important; }

  .strs-large-offset-1 {
    margin-left: 8.33333% !important; }

  .strs-large-offset-2 {
    margin-left: 16.66667% !important; }

  .strs-large-offset-3 {
    margin-left: 25% !important; }

  .strs-large-offset-4 {
    margin-left: 33.33333% !important; }

  .strs-large-offset-5 {
    margin-left: 41.66667% !important; }

  .strs-large-offset-6 {
    margin-left: 50% !important; }

  .strs-large-offset-7 {
    margin-left: 58.33333% !important; }

  .strs-large-offset-8 {
    margin-left: 66.66667% !important; }

  .strs-large-offset-9 {
    margin-left: 75% !important; }

  .strs-large-offset-10 {
    margin-left: 83.33333% !important; }

  .strs-large-offset-11 {
    margin-left: 91.66667% !important; }

  .strs-large-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }

  .strs-column.strs-large-centered,
  .strs-columns.strs-large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .strs-column.strs-large-uncentered,
  .strs-columns.strs-large-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }

  .strs-column.strs-large-centered:last-child,
  .strs-columns.strs-large-centered:last-child {
    float: none; }

  .strs-column.strs-large-uncentered:last-child,
  .strs-columns.strs-large-uncentered:last-child {
    float: left; }

  .strs-column.strs-large-uncentered.opposite,
  .strs-columns.strs-large-uncentered.opposite {
    float: right; }

  .strs-row.strs-large-collapse > .strs-column,
  .strs-row.strs-large-collapse > .strs-columns {
    padding-left: 0;
    padding-right: 0; }
  .strs-row.strs-large-collapse .strs-row {
    margin-left: 0;
    margin-right: 0; }
  .strs-row.strs-large-uncollapse > .strs-column,
  .strs-row.strs-large-uncollapse > .strs-columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .strs-push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .strs-pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .strs-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .strs-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .strs-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .strs-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .strs-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .strs-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .strs-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .strs-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .strs-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .strs-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .strs-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .strs-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .strs-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .strs-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .strs-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .strs-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .strs-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .strs-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .strs-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .strs-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .strs-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .strs-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }

/* Buttons */
.strs-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  display: inline-block;
  padding: 1em 2em 1.0625em 2em;
  font-size: 1em;
  background-color: #3E82F7;
  border-color: #3E82F7;
  color: #FFFFFF;
  transition: background-color 300ms ease-out; }

.strs-button:hover, .strs-button:focus {
  background-color: #007095; }
.strs-button:hover, .strs-button:focus {
  color: #FFFFFF; }

.strs-button.secondary {
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  color: #333333; }
.strs-button.secondary:hover, .strs-button.secondary:focus {
  background-color: #b9b9b9; }
.strs-button.secondary:hover, .strs-button.secondary:focus {
  color: #333333; }

.strs-button.success {
  background-color: #43AC6A;
  border-color: #368a55;
  color: #FFFFFF; }
.strs-button.success:hover, .strs-button.success:focus {
  background-color: #3B78E7; }
.strs-button.success:hover, .strs-button.success:focus {
  color: #FFFFFF; }

.strs-button.alert {
  background-color: #f04124;
  border-color: #cf2a0e;
  color: #FFFFFF; }
.strs-button.alert:hover, .strs-button.alert:focus {
  background-color: #cf2a0e; }
.strs-button.alert:hover, .strs-button.alert:focus {
  color: #FFFFFF; }

.strs-button.warning {
  background-color: #f08a24;
  border-color: #cf6e0e;
  color: #FFFFFF; }
.strs-button.warning:hover, .strs-button.warning:focus {
  background-color: #cf6e0e; }
.strs-button.warning:hover, .strs-button.warning:focus {
  color: #FFFFFF; }

.strs-button.info {
  background-color: #a0d3e8;
  border-color: #61b6d9;
  color: #333333; }
.strs-button.info:hover, .strs-button.info:focus {
  background-color: #61b6d9; }
.strs-button.info:hover, .strs-button.info:focus {
  color: #FFFFFF; }

.strs-button.large {
  padding: 1.125em 2.25em 1.1875em 2.25em;
  font-size: 1.25em; }
.strs-button.small {
  padding: 0.875em 1.75em 0.9375em 1.75em;
  font-size: 0.8125em; }
.strs-button.tiny {
  padding: 0.625em 1.25em 0.6875em 1.25em;
  font-size: 0.6875em; }
.strs-button.expand {
  padding: 1em 2em 1.0625em 2em;
  font-size: 1em;
  padding-bottom: 1.0625em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%; }
.strs-button.left-align {
  text-align: left;
  text-indent: 0.75em; }
.strs-button.right-align {
  text-align: right;
  padding-right: 0.75em; }
.strs-button.radius {
  border-radius: 3px; }
.strs-button.round {
  border-radius: 1000px; }
.strs-button.disabled, .strs-button[disabled] {
  background-color: #008CBA;
  border-color: #007095;
  color: #FFFFFF;
  box-shadow: none;
  cursor: default;
  opacity: 0.7; }

.strs-button.disabled:hover, .strs-button.disabled:focus, .strs-button[disabled]:hover, .strs-button[disabled]:focus {
  background-color: #3E82F7; }
.strs-button.disabled:hover, .strs-button.disabled:focus, .strs-button[disabled]:hover, .strs-button[disabled]:focus {
  color: #FFFFFF; }
.strs-button.disabled:hover, .strs-button.disabled:focus, .strs-button[disabled]:hover, .strs-button[disabled]:focus {
  background-color: #7da7f1; }

.strs-button.disabled.secondary, .strs-button[disabled].secondary {
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  color: #333333;
  box-shadow: none;
  cursor: default;
  opacity: 0.7; }
.strs-button.disabled.secondary:hover, .strs-button.disabled.secondary:focus, .strs-button[disabled].secondary:hover, .strs-button[disabled].secondary:focus {
  background-color: #b9b9b9; }
.strs-button.disabled.secondary:hover, .strs-button.disabled.secondary:focus, .strs-button[disabled].secondary:hover, .strs-button[disabled].secondary:focus {
  color: #333333; }
.strs-button.disabled.secondary:hover, .strs-button.disabled.secondary:focus, .strs-button[disabled].secondary:hover, .strs-button[disabled].secondary:focus {
  background-color: #e7e7e7; }

.strs-button.disabled.success, .strs-button[disabled].success {
  background-color: #7da7f1;;
  color: #FFFFFF;
  box-shadow: none;
  cursor: default;
  opacity: 0.7; }
.strs-button.disabled.success:hover, .strs-button.disabled.success:focus, .strs-button[disabled].success:hover, .strs-button[disabled].success:focus {
  background-color: #7da7f1; }
.strs-button.disabled.success:hover, .strs-button.disabled.success:focus, .strs-button[disabled].success:hover, .strs-button[disabled].success:focus {
  color: #FFFFFF; }


.strs-button.disabled.alert, .strs-button[disabled].alert {
  background-color: #f04124;
  border-color: #cf2a0e;
  color: #FFFFFF;
  box-shadow: none;
  cursor: default;
  opacity: 0.7; }
.strs-button.disabled.alert:hover, .strs-button.disabled.alert:focus, .strs-button[disabled].alert:hover, .strs-button[disabled].alert:focus {
  background-color: #cf2a0e; }
.strs-button.disabled.alert:hover, .strs-button.disabled.alert:focus, .strs-button[disabled].alert:hover, .strs-button[disabled].alert:focus {
  color: #FFFFFF; }
.strs-button.disabled.alert:hover, .strs-button.disabled.alert:focus, .strs-button[disabled].alert:hover, .strs-button[disabled].alert:focus {
  background-color: #f04124; }

.strs-button.disabled.warning, .strs-button[disabled].warning {
  background-color: #f08a24;
  border-color: #cf6e0e;
  color: #FFFFFF;
  box-shadow: none;
  cursor: default;
  opacity: 0.7; }
.strs-button.disabled.warning:hover, .strs-button.disabled.warning:focus, .strs-button[disabled].warning:hover, .strs-button[disabled].warning:focus {
  background-color: #cf6e0e; }
.strs-button.disabled.warning:hover, .strs-button.disabled.warning:focus, .strs-button[disabled].warning:hover, .strs-button[disabled].warning:focus {
  color: #FFFFFF; }
.strs-button.disabled.warning:hover, .strs-button.disabled.warning:focus, .strs-button[disabled].warning:hover, .strs-button[disabled].warning:focus {
  background-color: #f08a24; }

.strs-button.disabled.info, .strs-button[disabled].info {
  background-color: #a0d3e8;
  border-color: #61b6d9;
  color: #333333;
  box-shadow: none;
  cursor: default;
  opacity: 0.7; }
.strs-button.disabled.info:hover, .strs-button.disabled.info:focus, .strs-button[disabled].info:hover, .strs-button[disabled].info:focus {
  background-color: #61b6d9; }
.strs-button.disabled.info:hover, .strs-button.disabled.info:focus, .strs-button[disabled].info:hover, .strs-button[disabled].info:focus {
  color: #FFFFFF; }
.strs-button.disabled.info:hover, .strs-button.disabled.info:focus, .strs-button[disabled].info:hover, .strs-button[disabled].info:focus {
  background-color: #a0d3e8; }

.strs-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}


/* Standard Forms */
form {
  margin: 0 0 1em;
}

/* Using forms within rows, we need to set some defaults */
form .strs-row .strs-row {
  margin: 0 -0.5em; }
form .strs-row .strs-row .strs-column,
form .strs-row .strs-row .strs-columns {
  padding: 0 0.5em; }
form .strs-row .strs-row.collapse {
  margin: 0; }
form .strs-row .strs-row.collapse .strs-column,
form .strs-row .strs-row.collapse .strs-columns {
  padding: 0; }
form .strs-row .strs-row.collapse input {
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }
form .strs-row input.strs-column,
form .strs-row input.strs-columns,
form .strs-row textarea.strs-column,
form .strs-row textarea.strs-columns {
  padding-left: 0.5em; }


/* Basic input fields */
input.strs-input:not([type]),
input.strs-input[type="text"],
input.strs-input[type="password"],
input.strs-input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #d1d1d1;
  display: block;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #818181;
  line-height: 1.3;
  height: 40px;
  margin: 0 0 1.14em 0;
  padding: 12px 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s linear, background 0.15s linear;
  -moz-transition: border-color 0.15s linear, background 0.15s linear;
  -ms-transition: border-color 0.15s linear, background 0.15s linear;
  -o-transition: border-color 0.15s linear, background 0.15s linear;
  transition: border-color 0.15s linear, background 0.15s linear; }

input.strs-input:not([type]):focus,
input.strs-input[type="text"]:focus,
input.strs-input[type="password"]:focus,
input.strs-input[type="number"]:focus {
  background: #fafafa;
  border-color: #999999;
  color: #30323b;
  outline: none; }

input.strs-input:not([type]):disabled,
input.strs-input[type="text"]:disabled,
input.strs-input[type="password"]:disabled,
input.strs-input[type="number"]:disabled {
  background-color: #DDDDDD;
  cursor: default; }

input.strs-input:not([type])[disabled],
input.strs-input:not([type])[readonly],
fieldset[disabled] input.strs-input:not([type]),
input.strs-input[type="text"][disabled],
input.strs-input[type="text"][readonly],
fieldset[disabled] input.strs-input[type="text"],
input.strs-input[type="password"][disabled],
input.strs-input[type="password"][readonly],
fieldset[disabled] input.strs-input[type="password"],
input.strs-input[type="number"][disabled],
input.strs-input[type="number"][readonly],
fieldset[disabled] input.strs-input[type="number"] {
  background-color: #DDDDDD;
  cursor: default; }

input.strs-input:not([type]).radius,
input.strs-input[type="text"].radius,
input.strs-input[type="password"].radius,
input.strs-input[type="number"].radius {
  border-radius: 3px; }

input.strs-input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0; }


select.strs-select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-color: #FAFAFA;
  border-radius: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
  background-position: 100% center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  width: 100%;
  color: rgba(0, 0, 0, 0.75);
  font-family: inherit;
  font-size: 0.875em;
  line-height: normal;
  margin: 0 0 1em 0;
  padding: 12px 15px;
  border-radius: 0;
  height:40px;
}
select.strs-select::-ms-expand {
  display: none; }
select.strs-select.radius {
  border-radius: 3px; }
select.strs-select:focus {
  background-color: #f3f3f3;
  border-color: #999999; }
select.strs-select:disabled {
  background-color: #DDDDDD;
  cursor: default; }
select.strs-select[multiple] {
  height: auto; }

/* Typography resets */
.strs-content div,
.strs-content dl,
.strs-content dt,
.strs-content dd,
.strs-content ul,
.strs-content ol,
.strs-content li,
.strs-content h1,
.strs-content h2,
.strs-content h3,
.strs-content h4,
.strs-content h5,
.strs-content h6,
.strs-content pre,
.strs-content form,
.strs-content p,
.strs-content blockquote,
.strs-content th,
.strs-content td,
.strs-content button,
.strs-content input {
  margin: 0;
  padding: 0;
  color: #30323b;
}


.strs-title {
  font-family: Roboto, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.3;
  font-size: 24px;
  text-align: center;
  color: #30323b !important;
  margin-bottom: 16px !important;
}
.strs-subtitle {
  font-family: Roboto, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #30323b;
  margin-bottom: 24px !important;
}

/*
 * Application/button css
 */

.strs-button:focus, .strs-select:focus, .strs-link:focus {
  outline: 0 !important;
}

.strs-flex {
  display: flex;
}
.strs-flex-row {
  flex-direction: row;
}
.strs-flex-column {
  flex-direction: column;
}
.strs-flex-column.strs-flex-center-h, .strs-flex-row.strs-flex-center-v{
  align-items: center;
}
.strs-flex-column.strs-flex-center-v, .strs-flex-row.strs-flex-center-h{
  justify-content: center;
}

.strs-mt-none {
  margin-top: 0 !important;
}
.strs-mb-none {
  margin-bottom: 0 !important;
}
.strs-mtb-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.strs-mt-16 {
  margin-top:  16px !important;
}
.strs-mt-24 {
  margin-top:  24px !important;
}
.strs-mb-16 {
  margin-bottom:  16px !important;
}
.strs-mr-4 {
  margin-right:  4px !important;
}
.strs-pb-10 {
  padding-bottom: .8em !important;
}
.strs-lr-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.strs-text-center {
  text-align: center;
}
.strs-text-right {
  text-align: right;
}
.strs-text-upper {
  text-transform: uppercase;
}

@media only screen and (min-width: 64.0625em) {
  .strs-pr-8 {
    padding-right: 8px !important;
  }
  .strs-pl-8 {
    padding-left: 8px !important;
  }
}

.strs-content {
  font-family: Roboto, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  height: 100%;
  margin: 0;
  text-shadow: none;
}

.strs-section {
  margin: 10px 0 25px !important;
}

.strs-section-title {
  font-weight: 700;
  text-align: center;
}

.strs-input-error {
  font-family: Roboto, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ff7263 !important;
  display: none;
  margin: -12px 0px 12px 0 !important;
}

.strs-hint {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #30323b !important;
}

a.strs-link {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #3e82f7 !important;
  text-decoration: none;
}
a.strs-link:hover {
  color:#3B78E7 !important;
  cursor: pointer;
}
a.strs-link:active, a.strs-link:visited  {
  color:#3B78F7 !important;
}

.strs-button.success {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 40px;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ffffff!important;
  margin: 0 0;
  padding: .6875em 1.375em .75em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .3s ease-out;
  cursor: pointer;
  background-color: #3E82F7 !important;
  border-radius: 5px;
}
.strs-button.success:hover {
  background-color: #3B78E7 !important;
}

.strs-button.success.expand {
  padding-left: .6875em;
  padding-right: .6875em;
  width: 260px;
  margin: 0 auto;
  display: block;
}

.strs-wl-closed {
  color: #888 !important;
}

.strs-wl-data-title {
  font-size:16px;
  line-height: 1.36 !important;
}
.strs-wl-data-value {
  color: #2EA54F !important;
  font-size:16px;
  font-weight: 700;
  text-align: right;
  line-height: 1.36 !important;
}
.strs-wl-data-title.small, .strs-wl-data-value.small {
  font-size:14px !important;
}

.strs-wl-data-pricing {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}
.strs-wl-data-pricing.total {
  font-weight: 700;
}


#strs-wl-open, #strs-wl-closed {
  display: none;
}

.strs-checkmark {
  display:inline-block;
}
.strs-checkmark:after{
  /*Add another block-level blank space*/
  content: '';
  display: block;
  /*Make it a small rectangle so the border will create an L-shape*/
  width: 6px;
  height: 13px;
  /*Add a white border on the bottom and left, creating that 'L' */
  border: solid #2EA54F;
  border-width: 0 3px 3px 0;
  /*Rotate the L 45 degrees to turn it into a checkmark*/
  transform: rotate(45deg);
}

.strs-panel {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.strs-panel.wide {
  background-color: #f8f8f8;
  padding: 16px 8px 16px 8px !important;
}
.strs-panel .strs-panel-title {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #30323b;
  margin-bottom: 16px !important;
}

.strs-eventinfo {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  text-align: center;
  color: #30323b;
  margin: 2px 0px !important;
}

.strs-eventinfo.strs-timeinfo {
  font-size:14px;
  line-height: 1.71;
}


